<div>
  <% @students.each do |student| %> <!-- iterating through each student -->
    <div><%= student.first_name + " " + student.last_name %></div> <!-- present student first_name and last_name -->
  <% end %>
</div>